#contactme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 20pt;
    margin: 3% 0;
    transition-duration: 500ms;
    &.hide-contact-heading2 {
      transform: translateY(-100%) rotate(-6deg);
      opacity: 0;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 40pt;
    font-family: Lato;
    cursor: pointer;
    transition-duration: 500ms;
    &.hide-contact-heading1 {
      transform: translateY(-100%) rotate(-6deg);
      opacity: 0;
    }
    &:hover {
      color: var(--themeColor);
      transform: scale(1.05);
    }
  }
  p {
    margin: 0;
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 0;
    li {
      list-style: none;
      opacity: 0;
      a {
        --imgFilterContainer: saturate(0) brightness(2);
        --imgFilter: var(--imgFilterContainer);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        font-family: Lato;
        transition-duration: 200ms;
        &:hover {
          transform: scale(1.05);
          --imgFilter: none;
        }
        img {
          height: 55px;
          margin-bottom: 10px;
          transition-duration: 500ms;
          filter: var(--imgFilter);
        }
      }
    }
  }
}
