#contactme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 20pt;
    margin: 3% 0;
  }
  h1 {
    margin-top: 0;
    font-size: 40pt;
    font-family: Lato;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover {
      color: var(--themeColor);
      transform: scale(1.05);
    }
  }
  p {
    margin: 0;
  }
  ul {
    display: flex;
    padding: 0;
  }
}
