#featured-works {
  position: relative;
  @media (max-width: 768px) {
    max-height: fit-content;
  }
}
.featured-works-container {
  display: grid;
  grid-template-columns: 31.3% 33.3% 31.3%;
  column-gap: 2%;
  row-gap: 4%;
  width: 100%;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    place-items: center;
    row-gap: 2%;
  }
  .see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    &:hover {
      color: var(--themeColor);
    }
  }
}
.featured-work {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 400px;
  --filter: var(--imgFilter);
  --bgTransform: translateY(100%);
  --tagColor: gray;
  color: white;
  transition-duration: 500ms;
  background-image: linear-gradient(35deg, #292828, #221f1f);
  text-decoration: none;
  overflow: hidden;
  $transitionDuration: 200;
  &#fwork-1 {
    transition-duration: $transitionDuration * 1 + ms;
  }
  &#fwork-2 {
    transition-duration: $transitionDuration * 2 + ms;
  }
  &#fwork-3 {
    transition-duration: $transitionDuration * 3 + ms;
  }
  &#fwork-4 {
    transition-duration: $transitionDuration * 4 + ms;
  }
  &#fwork-5 {
    transition-duration: $transitionDuration * 5 + ms;
  }
  &.hide-featured-work {
    opacity: 0;
    transform: translate(40%, 40%);
  }
  @media (max-width: 768px) {
    width: 95%;
    max-height: 600px;
    color: var(--secColor);
    border-color: var(--bgColor);
    --bgTransform: none;
    --filter: none;
    --tagColor: var(--secColor);
  }
  &s-heading {
    transition-duration: 750ms;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &:hover {
    color: var(--secColor);
    border-color: var(--bgColor);
    --bgTransform: none;
    --filter: none;
    --tagColor: var(--secColor);
    transform: scale(0.95);
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    transform: var(--bgTransform);
    background-image: linear-gradient(45deg, var(--bgColor), var(--bgColor2));
    transition-duration: 400ms;
  }
  @media (min-width: 2560px) {
    max-height: 550px;
  }
  & * {
    position: relative;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
  img {
    position: absolute;
    z-index: 0;
    right: 0;
    transform: translate(50%, 50%);
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    filter: var(--filter);
    transition-duration: 400ms;
  }
  h1 {
    margin-bottom: 0;
    font-size: 25pt;
    @media (min-width: 2560px) {
      font-size: 43pt;
    }
  }
  p {
    margin-top: 7%;
    margin-right: 10%;
    font-size: 10pt;
    @media (min-width: 2560px) {
      font-size: 18pt;
    }
    @media (max-width: 768px) {
      font-size: 17pt;
    }
    @media (max-width: 425px) {
      font-size: 13pt;
    }
    @media (max-width: 375px) {
      font-size: 11pt;
    }
  }
  ul {
    display: flex;
    margin-left: 0;
    margin-top: auto;
    li {
      list-style: none;
      margin-right: 1%;
      padding: 5px 10px;
      border: 1px solid;
      color: var(--tagColor);
      // font-family: monospace;
      font-size: 9pt;
    }
  }
}

.btm-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  margin: 0;
  width: 100%;
  margin-top: auto;
  span {
    display: inherit;
    a {
      white-space: nowrap;
      margin-left: 0;
      margin-right: 10%;
    }
  }
}
.project-link {
  font-family: monospace;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-size: 12pt;
  &:hover {
    color: var(--secColor);
  }
}
