.featured-works-container {
  display: grid;
  grid-template-columns: 31.3% 33.3% 31.3%;
  column-gap: 2%;
  row-gap: 4%;
  width: 100%;
  .see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    &:hover {
      color: var(--themeColor);
    }
  }
}
.hide-features {
  opacity: 0;
  transform: translateY(10%);
}
.featured-work {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 400px;
  opacity: 0;
  --filter: var(--imgFilter);
  --bgTransform: translateY(100%);
  --tagColor: gray;
  color: white;
  transition-duration: 400ms;
  background-image: linear-gradient(35deg, #292828, #221f1f);
  text-decoration: none;
  overflow: hidden;
  &s-heading {
    font-family: Candara, sans-serif;
    transition-duration: 750ms;
    &.hide-featured-works-heading {
      transform: translate(-10%);
      opacity: 0;
    }
  }
  &:hover {
    color: var(--secColor);
    border-color: var(--bgColor);
    --bgTransform: none;
    --filter: none;
    --tagColor: var(--secColor);
    // transform: scale(0.95);
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    transform: var(--bgTransform);
    background-image: linear-gradient(45deg, var(--bgColor), var(--bgColor2));
    transition-duration: 400ms;
  }
  & * {
    position: relative;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
  img {
    position: absolute;
    z-index: 0;
    right: 0;
    transform: translate(50%, 50%);
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    filter: var(--filter);
    transition-duration: 400ms;
  }
  h1 {
    margin-bottom: 0;
    font-size: 25pt;
    font-family: Lato, Tahoma, Geneva, Verdana, sans-serif;
  }
  p {
    margin-top: 7%;
    margin-right: 10%;
    font-size: 10pt;
    font-family: sans-serif;
    line-height: 18px;
  }
  ul {
    display: flex;
    margin-left: 0;
    margin-top: auto;
    li {
      list-style: none;
      margin-right: 1%;
      padding: 5px 10px;
      border: 1px solid;
      color: var(--tagColor);
      // font-family: monospace;
      font-size: 9pt;
    }
  }
}

.btm-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  margin: 0;
  width: 100%;
  margin-top: auto;
  span {
    display: inherit;
    a {
      white-space: nowrap;
      margin-left: 0;
      margin-right: 10%;
    }
  }
}
.project-link {
  font-family: monospace;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-size: 12pt;
  &:hover {
    color: var(--secColor);
  }
}
