@import "../../config/variables";
@import "./lines";
@import "./featured";
@import "./info";
@import "./contactme";

section {
  max-height: 900px;
}
section > .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 0 5%;
}

.home-heading-container {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}
.home-heading {
  width: 60%;
  margin-bottom: 4px;
  font-size: 50pt;
  font-family: Lato, Candara, sans-serif;
  animation: heading $home_page_animation_speed + ms;
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 425px) {
    font-size: 35pt;
  }
  span {
    transition-duration: var(--color_shift_transition_duration);
    color: var(--themeColor);
  }
}
.home-heading-info {
  width: 45%;
  margin-top: 0;
  font-size: 13pt;
  font-family: sans-serif;
  animation: heading_info $home_page_animation_speed + ms;
  @media (max-width: 425px) {
    width: 75%;
    font-size: 12pt;
  }
}
.heading-button {
  --btBgTransform: translateY(100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 55px;
  border: 2px solid var(--themeColor);
  color: var(--themeColor);
  text-decoration: none;
  font-size: 15pt;
  overflow: hidden;
  transition-duration: var(--color_shift_transition_duration);
  animation: heading_button $home_page_animation_speed + ms;
  span {
    z-index: 1;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    transform: var(--btBgTransform);
    transition-duration: 300ms;
    background-color: var(--themeColor);
  }
  &:hover {
    color: white;
    --btBgTransform: none;
    // transform: scale(1.05);
  }
}
