@import "../../config/variables";
@import "./lines";
@import "./featured";
@import "./info";
@import "./contactme";

section {
  max-height: 900px;
  @media (min-width: 2560px) {
    max-height: 1440px;
  }
}
section > .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 0 5%;
}

#home-banner {
  position: fixed;
  top: 0;
  margin-top: 65px;
  width: 100%;
  transition-duration: 400ms;
}
.hide-banner {
  opacity: 0;
  transform: scale(0.5) translateY(-10%);
}
.home-heading-container {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.home-heading {
  width: 60%;
  margin-bottom: 4px;
  font-size: 50pt;
  animation: heading $home_page_animation_speed + ms;
  @media (min-width: 2560px) {
    width: 72%;
    font-size: 92pt;
  }
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 92%;
    font-size: 47pt;
  }
  @media (max-width: 425px) {
    font-size: 35pt;
  }
  span {
    font-size: 43pt;
    transition-duration: var(--color_shift_transition_duration);
    color: var(--themeColor);
    @media (min-width: 2560px) {
      font-size: 77pt;
    }
    @media (max-width: 425px) {
      font-size: 30pt;
    }
    @media (max-width: 411px) {
      font-size: 26pt;
    }
    @media (max-width: 320px) {
      font-size: 25pt;
    }
  }
}
.home-heading-info {
  width: 45%;
  margin-top: 0;
  font-size: 13pt;
  animation: heading_info $home_page_animation_speed + ms;
  @media (min-width: 2560px) {
    font-size: 20pt;
  }
  @media (max-width: 768px) {
    width: 60%;
  }
  @media (max-width: 425px) {
    width: 75%;
    font-size: 12pt;
  }
}
.heading-button {
  --btBgTransform: translateY(100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 55px;
  border: 2px solid var(--themeColor);
  background-color: transparent;
  color: var(--themeColor);
  text-decoration: none;
  font-size: 15pt;
  overflow: hidden;
  cursor: pointer;
  transition-duration: var(--color_shift_transition_duration);
  animation: heading_button $home_page_animation_speed + ms;
  span {
    z-index: 1;
    transition-duration: none;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    transform: var(--btBgTransform);
    transition-duration: 300ms;
    background-color: var(--themeColor);
  }
  &:hover {
    color: black;
    --btBgTransform: none;
    // transform: scale(1.05);
  }
  @media (min-width: 2560px) {
    width: 280px;
    height: 90px;
    border: 3px solid var(--themeColor);
    font-size: 22pt;
  }
}
