#info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  div {
    overflow: hidden;
    height: fit-content;
    width: 48%;
    p {
      width: 100%;
      font-size: 16pt;
      text-align: end;
      transition-duration: 600ms;
    }
  }
}
.hidden {
  opacity: 0;
}
