.start {
  overflow: hidden;
}
.start .start-message {
  width: 300%;
}
.start .start-message .start-main-bg {
  height: 100%;
  width: 33.3333%;
  background-color: var(--mainThemeInv);
}
.start .start-message .start-main-bg p {
  margin: 0;
  font-weight: bold;
  font-size: 30pt;
  font-family: Lato, "Segoe UI", sans-serif;
  color: var(--mainTheme);
  animation: start_message_p 3000ms;
}
.start .start-message .start-secondary-bg {
  height: 100%;
  width: 66.6666%;
  background: var(--mainTheme);
  transform: translate(-100%);
  animation: start_secondary_bg 3400ms;
}
.start .start-message .start-secondary-bg .start-secondary-inner {
  height: 100%;
  width: 50%;
  background-color: #22034b;
  animation: start_secondary_inner 3800ms;
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 65px;
  width: 90%;
  padding: 0 5%;
  background-image: linear-gradient(var(--mainTheme), transparent);
  font-size: 13pt;
  animation: header 800ms;
  transition-duration: 700ms;
}
.header nav {
  margin-left: auto;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  list-style: none;
  margin: 0 10px;
}

.header-navlink {
  color: gray;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 5%;
  color: gray;
  font-size: 10pt;
}
footer .footer-links {
  display: flex;
  margin-left: auto;
  padding: 0;
}
footer .footer-links a {
  color: inherit;
  text-decoration: none;
}
footer .footer-links li {
  list-style: none;
  margin-left: 19px;
}

.lines {
  position: fixed;
  right: 0;
  z-index: -2;
  bottom: 0;
  height: 134%;
  width: 5px;
  margin: 0;
  border: none;
  transition: var(--color_shift_transition_duration);
  --translateY: var(--oldTranslateY);
  background-color: var(--themeColor);
}
.lines.line-1 {
  --oldTranslateY: 31%;
  --newTranslateY: 125%;
  transform: rotate(45deg) translate(0, var(--translateY));
  animation: home_line;
  animation-duration: 600ms;
}
.lines.line-2 {
  height: 114%;
  --oldTranslateY: 35%;
  --newTranslateY: 113%;
  transform: rotate(45deg) translate(2090%, var(--translateY));
  animation: home_line;
  animation-duration: 600ms;
}
.lines.line-3 {
  height: 134%;
  --vanish-transform: -111%;
  --oldTranslateY: -16%;
  --newTranslateY: -115%;
  transform: rotate(-45deg) translate(-4007%, var(--translateY));
  animation: home_line;
  animation-duration: 600ms;
}
.lines.line-4 {
  height: 114%;
  --oldTranslateY: 29%;
  --newTranslateY: -55%;
  transform: rotate(45deg) translate(719%, var(--translateY));
  animation: home_line;
  animation-duration: 600ms;
}
.lines.line-5 {
  height: 134%;
  --oldTranslateY: -16%;
  --newTranslateY: 75%;
  transform: rotate(-45deg) translate(-2507%, var(--translateY));
  animation: home_line;
  animation-duration: 600ms;
}
.lines.line-6 {
  left: 0;
  height: 134%;
  --oldTranslateY: -55%;
  --newTranslateY: 30%;
  transform: rotate(-45deg) translate(0%, var(--translateY));
}
.lines.line-7 {
  left: 0;
  height: 134%;
  --oldTranslateY: 159%;
  --newTranslateY: 30%;
  transform: rotate(-45deg) translate(1671%, var(--translateY));
}
.lines.line-8 {
  left: 0;
  --oldTranslateY: -100%;
  --newTranslateY: 0%;
  transform: rotate(45deg) translate(0%, var(--translateY));
}
.lines.line-9 {
  left: 0;
  --oldTranslateY: 100%;
  --newTranslateY: 0%;
  transform: rotate(45deg) translate(2000%, var(--translateY));
}
.lines.line-10 {
  left: 0;
  --oldTranslateY: 100%;
  --newTranslateY: 0%;
  transform: rotate(45deg) translate(-2000%, var(--translateY));
}

.featured-works-container {
  display: grid;
  grid-template-columns: 31.3% 33.3% 31.3%;
  column-gap: 2%;
  row-gap: 4%;
  width: 100%;
}
.featured-works-container .see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: white;
  text-decoration: none;
  font-size: 13pt;
  font-weight: bold;
}
.featured-works-container .see-all:hover {
  color: var(--themeColor);
}

.hide-features {
  opacity: 0;
  transform: translateY(10%);
}

.featured-work {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 400px;
  opacity: 0;
  --filter: var(--imgFilter);
  --bgTransform: translateY(100%);
  --tagColor: gray;
  color: white;
  transition-duration: 400ms;
  background-image: linear-gradient(35deg, #292828, #221f1f);
  text-decoration: none;
  overflow: hidden;
}
.featured-works-heading {
  font-family: Candara, sans-serif;
  transition-duration: 750ms;
}
.featured-works-heading.hide-featured-works-heading {
  transform: translate(-10%);
  opacity: 0;
}
.featured-work:hover {
  color: var(--secColor);
  border-color: var(--bgColor);
  --bgTransform: none;
  --filter: none;
  --tagColor: var(--secColor);
}
.featured-work::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  transform: var(--bgTransform);
  background-image: linear-gradient(45deg, var(--bgColor), var(--bgColor2));
  transition-duration: 400ms;
}
.featured-work * {
  position: relative;
  z-index: 1;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}
.featured-work img {
  position: absolute;
  z-index: 0;
  right: 0;
  transform: translate(50%, 50%);
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  filter: var(--filter);
  transition-duration: 400ms;
}
.featured-work h1 {
  margin-bottom: 0;
  font-size: 25pt;
  font-family: Lato, Tahoma, Geneva, Verdana, sans-serif;
}
.featured-work p {
  margin-top: 7%;
  margin-right: 10%;
  font-size: 10pt;
  font-family: sans-serif;
  line-height: 18px;
}
.featured-work ul {
  display: flex;
  margin-left: 0;
  margin-top: auto;
}
.featured-work ul li {
  list-style: none;
  margin-right: 1%;
  padding: 5px 10px;
  border: 1px solid;
  color: var(--tagColor);
  font-size: 9pt;
}

.btm-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  margin: 0;
  width: 100%;
  margin-top: auto;
}
.btm-row span {
  display: inherit;
}
.btm-row span a {
  white-space: nowrap;
  margin-left: 0;
  margin-right: 10%;
}

.project-link {
  font-family: monospace;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-size: 12pt;
}
.project-link:hover {
  color: var(--secColor);
}

#info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}
#info div {
  overflow: hidden;
  height: fit-content;
  width: 48%;
}
#info div p {
  width: 100%;
  font-size: 16pt;
  text-align: end;
  transition-duration: 600ms;
}

.hidden {
  opacity: 0;
}

#contactme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contactme h2 {
  font-size: 20pt;
  margin: 3% 0;
}
#contactme h1 {
  margin-top: 0;
  font-size: 40pt;
  font-family: Lato;
  cursor: pointer;
  transition-duration: 300ms;
}
#contactme h1.hide-contact-heading {
  transform: translateY(-50%);
  opacity: 0;
}
#contactme h1:hover {
  color: var(--themeColor);
  transform: scale(1.05);
}
#contactme p {
  margin: 0;
}
#contactme ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 0;
}
#contactme ul li {
  list-style: none;
}
#contactme ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  font-family: Lato;
  transition-duration: 200ms;
}
#contactme ul li a:hover {
  transform: scale(1.05);
}
#contactme ul li a img {
  height: 55px;
  margin-bottom: 10px;
  filter: saturate(0) brightness(2);
}
#contactme ul li a img[alt=LinkedIn-logo] {
  filter: invert(1) saturate(0);
}

section {
  max-height: 900px;
}

section > .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 0 5%;
}

#home-banner {
  position: fixed;
  top: 0;
  margin-top: 65px;
  width: 100%;
  transition-duration: 400ms;
}

.hide-banner {
  opacity: 0;
  transform: scale(0.5) translateY(-10%);
}

.home-heading-container {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.home-heading {
  width: 60%;
  margin-bottom: 4px;
  font-size: 50pt;
  font-family: "Work Sans", Lato, Candara, sans-serif;
  animation: heading 600ms;
}
@media (max-width: 1024px) {
  .home-heading {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .home-heading {
    font-size: 35pt;
  }
}
.home-heading span {
  font-size: 43pt;
  transition-duration: var(--color_shift_transition_duration);
  color: var(--themeColor);
}

.home-heading-info {
  width: 45%;
  margin-top: 0;
  font-size: 13pt;
  font-family: sans-serif;
  animation: heading_info 600ms;
}
@media (max-width: 425px) {
  .home-heading-info {
    width: 75%;
    font-size: 12pt;
  }
}

.heading-button {
  --btBgTransform: translateY(100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 55px;
  border: 2px solid var(--themeColor);
  color: var(--themeColor);
  text-decoration: none;
  font-size: 15pt;
  overflow: hidden;
  transition-duration: var(--color_shift_transition_duration);
  animation: heading_button 600ms;
}
.heading-button span {
  z-index: 1;
}
.heading-button::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  transform: var(--btBgTransform);
  transition-duration: 300ms;
  background-color: var(--themeColor);
}
.heading-button:hover {
  color: white;
  --btBgTransform: none;
}

@keyframes start_message_p {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  70% {
    transform: none;
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
@keyframes start_secondary_bg {
  0%, 70% {
    transform: none;
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes start_secondary_inner {
  0%, 70% {
    transform: none;
  }
  80% {
    transform: scaleX(1.5);
  }
  100% {
    transform: none;
  }
}
@keyframes page {
  0% {
    opacity: 0;
  }
}
@keyframes home_line {
  0% {
    transform: none;
  }
}
@keyframes backdroptxt {
  0% {
    transform: translate(-50%);
    opacity: 0;
  }
}
@keyframes header {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes heading {
  0% {
    transform: translateY(100%);
  }
}
@keyframes heading_info {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
}
@keyframes heading_button {
  0% {
    opacity: 0;
  }
}
@keyframes color_shift {
  0% {
    --themeColor: var(--themeColor);
  }
  10%, 90% {
    --themeColor: #6b2ece;
  }
  20%, 80% {
    --themeColor: #4625bb;
  }
  30%, 70% {
    --themeColor: #585acc;
  }
  40%, 60% {
    --themeColor: #3476d8;
  }
  50% {
    --themeColor: #07859b;
  }
  100% {
    --themeColor: var(--themeColor);
  }
}

/*
* This is the base SCSS file for your app.
*/
@font-face {
  font-family: Candara;
  src: url("../assets/fonts/Candara/CANDARA.TTF");
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}
:root {
  --mainTheme: #141414;
  --mainThemeInv: white;
  --themeColor: #374ce9;
  --color_shift_transition_duration: 1000ms;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: var(--mainTheme);
}
html::-webkit-scrollbar-thumb {
  background-color: #414141;
}

body {
  margin: 0;
  background-color: var(--mainTheme);
  box-sizing: border-box;
  font-family: Candara, sans-serif;
}

.app {
  color: var(--mainThemeInv);
  font-family: sans-serif;
  animation: color_shift 30000ms infinite;
  overflow-x: hidden;
}

.page {
  animation: page 800ms;
}

main {
  margin-top: 65px;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: -3;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #252525;
  font-size: 40vw;
  overflow: hidden;
}
.backdrop span {
  transform: translateX(-40%);
  animation: backdroptxt 750ms;
  transition-duration: 200ms;
}
.backdrop span p {
  margin: 0;
  white-space: nowrap;
}

.flex, .fcol, .fc {
  display: flex;
}

.fixed {
  position: fixed;
}

.fcx, .fc {
  display: flex;
  justify-content: center;
}

.fcy, .fc {
  display: flex;
  align-items: center;
}

.fcol {
  flex-direction: column;
}

/*# sourceMappingURL=adebola.css.map */
