.header {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  height: 65px;
  width: 90%;
  padding: 0 5%;
  background-image: linear-gradient(var(--mainTheme), transparent);
  font-size: 13pt;
  animation: header 800ms;
  transition-duration: 700ms;
  @media (min-width: 2560px) {
    height: 105px;
    font-size: 25pt;
  }
  button {
    // display: none;
    // @media (max-width: 475px) {
    display: flex;
    // }
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    --beforeTransform: rotate(47deg);
    --afterTransform: rotate(45deg);
    &::before,
    &::after {
      content: "";
      display: block;
      height: 8%;
      width: 80%;
      margin: 10% 0;
      background-color: var(--themeColor);
      transition-duration: 300ms;
    }
    &::before {
      transform: var(--beforeTransform);
    }
    &::after {
      transform: var(--afterTransform);
    }
  }
  // nav {
  //   margin-left: auto;
  //   @media (max-width: 475px) {
  //     display: none;
  //   }
  //   ul {
  //     display: flex;
  //     li {
  //       list-style: none;
  //       margin: 0 10px;
  //       @media (min-width: 2560px) {
  //         margin: 0 23px;
  //       }
  //     }
  //   }
  // }
}

.header-navlink {
  color: gray;
  text-decoration: none;
  // transition-duration: var(--color_shift_transition_duration);
}

.card-under,
.card-under-2,
.card-under-3 {
  position: fixed;
  top: 0;
  z-index: 97;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: var(--themeColor);
  transition-duration: 600ms;
  transform: translateY(-100%);
}
.card-under-2 {
  background-color: var(--themeColor);
  z-index: 96;
  transition-duration: 500ms;
  filter: brightness(0.65) hue-rotate(1deg);
}
.card-under-3 {
  background-color: var(--themeColor);
  z-index: 95;
  transition-duration: 350ms;
  filter: brightness(0.45) hue-rotate(1deg);
}
menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--mainTheme);
  transition-duration: 750ms;
  transform: translateY(-160px);
  ul {
    padding: 0;
    margin: 0;
    li {
      font-size: 30pt;
      list-style: none;
      margin: 5px 0;
      animation: show_menu_list 400ms;
      a {
        color: inherit;
        text-decoration: none;
        transition-duration: 250ms;
      }
    }
  }
}
