@import "../config/variables";
.start {
  overflow: hidden;
  .start-message {
    width: 300%;
    .start-main-bg {
      height: 100%;
      width: 33.3333%;
      background-color: var(--mainThemeInv);
      p {
        margin: 0;
        font-weight: bold;
        font-size: 30pt;
        font-family: Lato, "Segoe UI", sans-serif;
        color: var(--mainTheme);
        animation: start_message_p $start_message + ms;
      }
    }
    .start-secondary-bg {
      height: 100%;
      width: 66.6666%;
      background: var(--mainTheme);
      transform: translate(-100%);
      animation: start_secondary_bg $start_message + 400 + ms;
      .start-secondary-inner {
        height: 100%;
        width: 50%;
        // background-color: rgb(34, 3, 75);
        background-color: var(--themeColor);
        animation: start_secondary_inner $start_message + 800 + ms;
      }
    }
  }
}
