:root {
  @keyframes start_message_p {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }
    70% {
      transform: none;
      opacity: 0.75;
    }
    90%,
    100% {
      transform: translateX(-200%);
      opacity: 0;
    }
  }
  @keyframes start_secondary_bg {
    0%,
    70% {
      transform: none;
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes start_secondary_inner {
    0%,
    70% {
      transform: none;
    }
    80% {
      transform: scaleX(1.25);
    }
    100% {
      transform: none;
    }
  }

  @keyframes page {
    0% {
      opacity: 0;
    }
  }

  @keyframes home_line {
    0% {
      transform: none;
    }
  }

  @keyframes backdroptxt {
    0% {
      transform: translate(0%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translate(34%);
    }
  }

  @keyframes header {
    0% {
      transform: translateY(-100%);
    }
  }

  @keyframes show_menu_list {
    0% {
      transform: translateX(90%) scale(0.6);
      opacity: 0;
    }
  }
  @keyframes heading {
    0% {
      transform: translateY(100%);
    }
  }
  @keyframes heading_info {
    0% {
      transform: translateX(-30%);
      opacity: 0;
    }
  }
  @keyframes heading_button {
    0% {
      opacity: 0;
    }
  }
  @keyframes featured {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
  }
  // @keyframes color_shift {
  //   0% {
  //     --themeColor: var(--themeColor);
  //   }
  //   10%,
  //   90% {
  //     --themeColor: #7c2ab3;
  //   }
  //   20%,
  //   80% {
  //     --themeColor: #47bd8c;
  //   }
  //   30%,
  //   70% {
  //     --themeColor: #c2ba4c;
  //   }
  //   40%,
  //   60% {
  //     --themeColor: #2377f5;
  //   }
  //   50% {
  //     --themeColor: #c9699e;
  //   }
  //   100% {
  //     --themeColor: var(--themeColor);
  //   }
  // }
}
