#contacts {
  width: 90%;
  padding: 0 5%;
  h1 {
    width: 100%;
    text-align: center;
    font-size: 45pt;
    transition-duration: 500ms;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  .other-contacts {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    overflow: hidden;
    a {
      height: 190px;
      margin: 20px 0;
      color: inherit;
      border: 2px solid;
      text-decoration: none;
      transition-duration: 500ms;
      &:hover {
        transform: scale(0.92);
      }
    }
  }
}
