.about-me-section {
  width: 90%;
  padding: 0 5%;
  h1 {
    color: var(--themeColor);
    font-size: 35pt;
  }
}
#my-stack {
  h1 {
    width: 100%;
    text-align: center;
  }
}
#stack-list {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin: 0;
  padding: 0 3%;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30px;
    // list-style: none;
    list-style-type: disc;
    color: white;
    progress {
      height: 90px;
    }
    // .stack-t-logo {
    //   height: 50%;
    //   opacity: 0;
    //   transition-duration: 300ms;
    //   filter: saturate(0);
    // }
    // #nextjs-logo {
    //   filter: saturate(0) invert(1);
    // }
    // #tailwind-logo {
    //   height: 40%;
    // }
  }
}
